@model PostsManagementSystem.Models.AppInfo

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Contact Us</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="ContactUs" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Content</label>
                                            <textarea asp-for="Content" class="form-control" rows="10" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Content In Arabic</label>
                                            <textarea asp-for="ContentAR" class="form-control" rows="10" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Update" class="btn btn-primary pull-right" />
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>